*{
    font-family: cursive;
}

.login-main-container{
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f696b9;
}

.login-svg-container{
    width: 50%;
    display: flex;   
    align-items: center;     
    justify-content: center;  
    overflow: hidden;           
 position: relative;
}
.login-svg-container svg {
    max-width: 90%;      
    max-height: 90%;      
}

.login-form-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-bar{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 4rem;
    background-color: #454445;
}

.navigation-dashboard{
    height: 4em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    color: #f6bdd2;

}

.penguin-button:hover{
    color:#D07395;
}

.navigation-drawer-div{
    display: flex;
    flex-direction: column;
}

.drawer-navlink{
    padding: 10px;
}

.dashboard-main-div{
    margin:0;
    margin-top: 4rem;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: rgb(177, 177, 177);
    min-height: 100vh;
}
.div-buttons-container{
    padding-top: 3rem;
width: 70%;
display:grid;
grid-template-columns: repeat(2, 50%);
justify-items: center;
height: auto;
}

.dashboard-div{
    padding: 20px;
    border: 1px solid rgb(220, 219, 219);
    border-radius: 4px;
    box-shadow: rgba(208, 115, 149, 0.2) 0px 2px 8px 0px;
    width: 70%;
    height: 8rem;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    display:flex;
    flex-direction: column;
    color:#000000;
    font-size: larger;
    font-weight: 600;
    background-color: rgb(192, 191, 191);
}

.dashboard-div:hover{
    box-shadow: rgba(208, 115, 149, 0.2) 0px 48px 100px 0px;

}

.employee-overview-main-div{
    margin-top: 4rem;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    padding-top: 20px;
}

.single-project-div {
    margin-top: 1rem;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.admin-buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    
.admin-button{
    padding: 20px;
    background-color: #878585;
    color:white;
    border-radius: 15px;
    font-weight: 900;
    display: flex;
  align-items: center;
  justify-content: center;
}

.admin-button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.admin-line{
    padding: 1rem 0;
}

.admin-app-pref{
    padding: 2rem 0;
}

.admin-app-pref-p{
    display: flex;
    flex-direction: row;
}

.line-container{
    border-radius: 15px;
    background-color: rgb(203, 203, 203);
    padding: 1rem;
    margin:1rem;
}

.employee-span{
    padding-left: 1rem;
    padding-right: 1rem;
}

.input-proj-comment{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.add-employee-to-proj{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:1rem;
    margin-top: 2rem;
    align-items: center;
}

.administration-inner-div{
    width: 80%;
    background-color: #e8e8e8;
    border-radius: 4px;
    padding: 1rem;
    margin:1rem;
}

.font-weight-900{
    font-weight: 900;
}

.employees-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.employee-email-display{
    background-color: rgb(226, 107, 107);
    border-radius: 4px;
    padding: 5px;
}

.margin-right-1rem{
    margin-right: 1rem;
}

.single-skills-matrix-p{
    background-color: snow;
    border-radius: 4px;
    margin:5px;
    padding:5px;
}

.cv-container{
    background-color: white;
    margin: 20px;
    padding: 5px;
}